---
Language:        Cpp
BasedOnStyle: Mozilla
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
ColumnLimit: 120
FixNamespaceComments: true
PackConstructorInitializers: CurrentLine
